.contact-form {
    margin-top: 2em;
}

.placer {
    float: left;
    margin-left: 2em;
}

.link-box {
    width: 100%;
}

.link-form {
    float: right;
    margin-left: 1em;
    margin-top: 0.5em;
    width: 32%
}