.pic
{
     margin-top:10em; 
     width:10em;
     margin-left:4em;
     margin-bottom:-5em;
}

.panelx
{
    background-image:url("/~lbaw1353/devel/images/background-user.jpg"); 
    width:80em; 
    height:15em;
}

.name
{
    position:absolute;
    padding-left:200px;
    font-size:30px;
}

.dropdown
{
    position:absolute;
}

.change
{
 position:relative; 
 bottom:20px;
 padding:1px;
 color:white;
 text-decoration:none;
}


.change:hover
{
 text-decoration:none;
 background-color:black;
 color:white;
}